#titulo {
    border-style: dashed;
    border-color: rgb(49, 95, 2);
    background-color: rgba(85, 161, 10, 0.726);
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 15px;
}

.lugar {
    border-style: dashed;
    border-color: rgb(49, 95, 2);
    background-color: rgba(85, 161, 10, 0.726);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

h3 {
    font-style: oblique;
    font-size: x-large;
}

p {
    font-weight: bold;
}

body {
    background-image: url(./fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
